body {
  background-color: rgba(236, 223, 171, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mainHeader {
  height: 100px;
  margin: 40px 0;
  font-family: "PT Sans Narrow";
  font-size: 60px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  color: rgb(90, 2, 2);
  background: url($imgFolder + 'raster/gulp.jpg') no-repeat;
  background-size: contain;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.imgWrapper {
  width: 100%;
  height: auto;
  text-align: center;
}

.svgWrapper {
  width: 100%;
  height: 100px;
  text-align: center;
  background: yellowgreen;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon-gulp {
  width: 100px;
  height: 100px;
  fill: rgb(179, 25, 25);
}
